<html>
    <head>
        <title>QandA</title>
    </head>
    <body>
        <h1>update a Question</h1>
        <form method="get" action="/rewrite">

        <label for="id">Question Id:</label>
        <input type="text" id="id" name="id"/><br/>

        <label for="title">Question Title:</label>
        <input type="text" id="new_title" name="new_title"/><br/>

        <label for="content">Question Content:</label>
        <input type="text" id="new_content" name="new_content"/><br/>

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags"/><br/>

        <input type="submit" value="Add this question"/>
        </form>
    </body>
</html>